---

---


<aside>
  <h2>New</h2>
  <div class="new">
    <h3>Hydrogen VS Electric Cars</h3>
    <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
  </div>
  <hr>
  <div class="new">
    <h3>The Downsides of AI Artistry</h3>
    <p>What are the possible adverse effects of on-demand AI image generation?</p>
  </div>
  <hr>
  <div class="new">
    <h3>Is VC Funding Drying Up?</h3>
    <p>Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
  </div>
</aside>

<style>
  aside {
    background: var(--dark-blue-clr);
    color: var(--gray-clr);
    padding: 1.5rem;
    height: 100%;
  }

  h2 {
    color: var(--orange-clr);
    font-size: 1.8rem;
  }

  .new {
    margin-block: 1.8rem;
  }

  .new:last-child {
    margin-bottom: 0;
  }

  h3 {
    color: var(--white-clr);
    font-size: 1.3rem;
    padding-bottom: 0.3rem;
  }

  p {
    font-size: 16px;
  }

  hr {
   border-top: 0.5px solid  var(--dark-gray-clr);
  }
</style>



 
	
		
		
	
		
		
	
		
		