---

---


<div class="grid">
  <div class="card">
    <img src="../assets/images/image-retro-pcs.jpg" alt="retro pc">
    <div class="card-body">
      <span>01</span>
      <h4>Reviving Retro PCs</h4>
      <p>What happens when old PCs are given modern upgrades?</p>
    </div>
  </div>
  <div class="card">
    <img src="../assets/images/image-top-laptops.jpg" alt="top laptops">
    <div class="card-body">
      <span>02</span>
      <h4>Top 10 Laptops of 2022</h4>
      <p>Our best picks for various needs and budgets.</p>
    </div>
  </div>
  <div class="card">
    <img src="../assets/images/image-gaming-growth.jpg" alt="gaming growth">
    <div class="card-body">
      <span>03</span>
      <h4>The Growth of Gaming</h4>
      <p>How the pandemic has sparked fresh opportunities.</p>
    </div>
  </div>
</div>

<style>
  .grid {
    display: grid;
    
    gap: 2.5rem;
    margin-block: 3rem;
  }

  .card {
    display: flex;
    gap: 1rem;
  }

  img {
    width: 80px;
  }

  span {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--gray-clr);
  }

  h4 {
    margin-block: 0.5rem;
    font-weight: 700;
  }

  p {
    color: var(--dark-gray-clr);
  }

  @media(min-width: 900px){
    .grid {
      padding-top: 2rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>












