---

---

<header>
  <div class="icon">
    <img src="../assets/logo.svg" alt="logo">
  </div>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">New</a></li>
    <li><a href="">Popular</a></li>
    <li><a href="">Trending</a></li>
    <li><a href="">Categories</a></li>
  </ul>
</header>


		
		
		
		